        
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,300&display=swap');

 *{margin: 0;}
    
        .box  { 
            display:  inline-block ; 
            vertical-align: top ;
            width:  70%;
        }

        .SubTopicFlex { 
            display: flex ;
            flex-wrap: nowrap;
        }

        .div { 
            border: 10px red solid;            
        }

        .Content { 
            font-family: "Kanit";
            color: black;
            background-color: #d7ccbe;

        }

        .Content h1 { 
            background-color:  #615957;
            color: blueviolet;
        }
        .Content h2 { 
            border-radius: 5px;
            color: #B7A897;
            background-color: #3E3533;
        }
       

        .Content h3 { 
            color: #B7A897; 
            font-size: 1.25em;
        }
        
        .Content .div   { 
            border-radius: 5px;
            color : white  ;
            background-color:#e3ddd9 ;
        }

        .Content table { 
            color: black;
        }
        .Content table th { 
            color: black(243, 57, 57);
            font-weight:bold;
        }

        .Content tbody { 
            color: rgb(79, 22, 22);
        }

        .Content tbody tr:nth-of-type(2n) {
            background-color: yellow;
        }
        
        #TopBackgroundPanel { 
            background: no-repeat center/cover url("https://i.pinimg.com/originals/63/4f/c7/634fc7589ecb8b3229528763c2a246a1.jpg") ;
            display : inline-block;  
            width: 100%  ; 
            height:  200px;

        }



        .talbeblock { 
            display:  inline-block ;
            vertical-align: top ;
            width: 140px  ; 
            margin: 10px;
        }

        .talbeblock .Content { 
            background-color: white ;
        }
 
        .SubSet { 
            padding: 10px;
            background-color: #B7A897;
            margin: 0.5%;
        }

        .topPanel   { 
            background-color: #615957;
            display: flex ;
            justify-content: space-between ;
            height: 30px ;
            align-items: center;
        }

        .topPanel #Cat_HeaderName  {
            color: white;
            font-size: 25px ;
        }

        .topPanel #Cat_SubHeaderName { 
            color: white;
            text-align: right;
            font-size: 25px ;
        }
     

       

       


         
        